
.block {
  display: flex;
  width: 212px;
  height: 700px;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  margin-top: 1.5%;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #1A455D;
  position: fixed;
}

.line {
  height: 2px;
  flex-shrink: 0;
  align-self: stretch;
  background: rgba(227, 227, 227, 0.20);
}

.line2 {
  height: 2px;
  flex-shrink: 0;
  align-self: stretch;
  background: rgba(227, 227, 227, 0.20);
  position: relative; 
}

.line2::after {
  content: "Powered by "; 
  margin-left: 30px;
  margin-top: 15px;
  width: 82px;
  height: 14px;
  color: #8CA1AD;
  position: absolute;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.logo img {
  width: 84px;
  height: 11px;
  margin-left: 80px;
  margin-bottom: 5px;
}
